<!---
this page will display the possible games to be played
--->

<div class ='row' >
            <div class='col-md-4'></div>
            <div class='col-md-4' >
                <center><h1 style="background-color:limegreen">Games</h1></center>
            </div>
            <div class='col-md-4'></div>
</div>

<div class='row'>
    <div class='col-md-4'></div>
    
    <div class='col-md-4'>
        <div class='row'>
            <div class='col-md-6'><button type='button' onclick="ajaxCall('main','math/math')"class='btn btn-primary btn-lg btn-block'>Math</button></div>
            <!---<div class='col-md-6'><button type='button' onclick="ajaxCall('main','english/english')"class='btn btn-primary btn-lg btn-block'>English</button></div>--->
        </div>
    </div>
    
        <div class='col-md-4'></div>
</div>

