<!---
this page will display the possible games to be played
--->

<div class ='row'>
            <div class='col-md-4'></div>
            <div class='col-md-4'>
                <center><h1 style="background-color:limegreen">Games</h1></center>
            </div>
            <div class='col-md-4'></div>
</div>
<div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-4'>
        <h2>Math</h2>
    </div>
    <div class='col-md-4'>
            <h2>English</h2>
    </div>
        <div class='col-md-2'></div>
</div>
<div class='row'>
    <div class='col-md-6'>
        <h2>Game3</h2>
    </div>
    <div class='col-md-6'>
            <h2>Game4</h2>
    </div>
</div>