<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/Views/styles/template.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/Model/functions.js"></script>
       <!---
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-89159746-2', 'auto');
          ga('send', 'pageview');

        </script> -->
    </head>
    
    <body>
        
    <div id='heading' class='jumbotron text-center'>
        <h1> Smart Kids </h1>
    </div>
    <nav class='navbar navbar-default'>
        
        <div class='container-fluid'>
            <div class='navbar-header '>
                <a class='navbar-brand' href='/main/home'>Avatar Picture</a>    
                <ul class='nav navbar-nav '>
                    <li> 
                        <a href="/main/home">Home Page</a></li>
                    <li>
                        <a href='/main/games' >Play Games</a>
                    </li>
                    <li>
                        <a href='/main/scores'>My Scores</a>
                    </li>
                    <li>
                        <a href='/main/rankings'>Rankings</a>
                    </li>
                    <li>
                        <a href='/main/profile'>My Profile</a>
                    </li>
                    
                    </ul>
            </div>
              <ul class="nav navbar-nav navbar-right" style='margin-right:25px'>
                        <li><a href="/main/login">Login</a></li>
              <ul>
        </div>
    </nav>    
<div id='main'>