<!---
This page is will be used for any one who is not logged in, who would like to view the site.
It will display a simple log in screen
--->

<div class='row'>
    <div class='col-md-12'>
        <center><h3>Enter your name to login</h3></center>
    </div>
</div>

<div class='row'>
    <div class='col-md-4'></div>
    <div class='col-md-4'>
        <form>
            <div class='form-group'>
                <label for='name'>Name:</label>
                <input type='name' class='form-control' id='name' placeholder="Name">
            </div>
            <div class='form-group'>
                <label for='password'>Password:</label>
                <input type='password' class='form-control' id='password' placeholder="Password">

            </div>
            <button type='submit' class='btn btn-primary'>Submit</button>
        </form>
    </div>
        <div class='col-md-4'></div>
</div>