<!---
This page is will be used for any one who is not logged in, who would like to view the site.
It will display a simple log in screen
--->

<div class='row'>
    <div class='col-md-12'>
        <center><h3>Enter your name to login</h3></center>
    </div>
</div>

<div class='row'>
    <div class='col-md-4'></div>
    <div class='col-md-4'>
        <form method="POST" action="validateAccount">
        <div class='row'>
            <div class='col-md-12'>
                <div class='form-group'>
                    <label for='name'>Name:</label>
                    <input type='name' name='user' class='form-control' id='name' placeholder="Name">
                </div>
            </div>
        </div>
            <div class='row'>
                <div class='col-md-12'>
                    <div class='form-group'>
                <label for='password' >Password:</label>
                <input type='password' name='password' class='form-control' id='password' placeholder="Password">
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12'>
                        <div class='row'>
                            <div class='col-md-6'>
                             <button type='submit' class='btn btn-primary'>Submit</button>
                            </div>
                            
                            <div class='col-md-6'>
                                <p>Don't have an account?<span class='glyphicon glyphicon-hand-right'></span><a href='signup'>&nbsp; Sign up!</a></p>
                            </div>
                        </div>
                </div>
            </div>
            
            
            
        </form>
    </div>
        
</div>