<div class="row">
    <div class='col-md-6'>
        <div class='row'>
            <div class='col-md-12'><center><h2 class='bg-danger'>Quizzes</h2></center></div>
        </div>  <div class='row'>
                    <div class='col-md-8'>
                        <center><h3 class='bg-danger'>Subject</h3></center>
                    </div>
                    <div class='col-md-4'>
                        <center><h3 class='bg-danger'>Play for speed?</h3></center>
                    </div>
                </div>
                <div class='row'>
                    <form action='gameproblems' method="POST">
                    <div class='col-md-8'>
                        <div class='row'>
                                <div class='col-md-6'>
                                            <button type='submit' name='submit' value='add' class='btn btn-danger btn-lg btn-block'>Add</button>
                                </div>
                                <div class='col-md-6'>
                                            <button type='submit' name='submit' value='subtract' class='btn btn-danger btn-lg btn-block'>Subtract</button>
                                </div>
                        </div>
                        <div class='row'>
                                <div class='col-md-6'>
                                            <button type='submit' name='submit' value='divide' class='btn btn-danger btn-lg btn-block'>Divide</button>
                                </div>
                                <div class='col-md-6'>
                                            <button type='submit' name='submit' value='multiply' class='btn btn-danger btn-lg btn-block'>Multiply</button>
                                </div>
                            </div>
                    
                    </div>
                    <div class='col-md-4'>
                        <div class='col-md-6'><center>
                         <input type='radio' name='timed' value='yes'>Yes   
                        </center></div>
                     
                     <div class='col-md-6'><center>
                        <input type='radio' name='timed' value='no' checked>No   
                        </center></div>
                    </div>
                    </form>
                </div>
    </div>
    <div class='col-md-6'>
    <div class='row'>
        <div class='col-md-12'><center><h3 class='bg-success'>Games</h3></center></div>
     </div>
        <div class='row'>
            <div class='col-md-4'>
                <button type='button' class='btn btn-success btn-lg btn-block'>Hangman</button>
            </div>
            <div class='col-md-4'>
                <button type='button' class='btn btn-success btn-lg btn-block'>Tic-Tac-Toe</button>
            </div>
            <div class='col-md-4'>
                <button type='button' class='btn btn-success btn-lg btn-block'>Matching</button>
            </div>
        </div>
   
    
    </div>
    


</div>